body {
color:aliceblue;
background-color: black;
font-family: Arial, Helvetica, sans-serif;


}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 16px;
}

a{
    color: aliceblue;
    text-decoration: none;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(247, 0, 255);
}
.center{
    text-align: center;
}
footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}
footer a {
    margin: 20px;
}
footer p {

}

h1{
    color: rgb(255, 0, 221);
}
nav a:hover {
    color: rgb(204, 0, 255);
}
